<h1>Congratulations! You have won!</h1>

<h2>Facts about <%= @guessed_country&.name %></h2>
<p>Continent: <%= @guessed_country&.continent %></p>
<p>Capital: <%= @guessed_country&.capital %></p>
<p>Currency: <%= @guessed_country&.currency %></p>
