<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-brand MappleLogo" data-bs-toggle="dropdown">
      <%= image_tag "Mapple_Logo.png", alt: "Mapple Logo" %>
    </div>

    <div class="dropdown-menu MappleDropdown" id="MappleDropdown">
      <%= link_to "home", "#", class: "MappleNavbarLink" %>
      <%= link_to "messages", "#", class: "MappleNavbarLink" %>
      <%= link_to "log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "MappleNavbarLink" %>
    </div>
  </div>
</nav>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const logo = document.querySelector(".MappleLogo");
  const dropdownMenu = document.querySelector(".dropdown-menu");
  const navbar = document.querySelector(".navbar");

  let isClicked = false;

  logo.addEventListener("click", function (event) {
    event.preventDefault();

    if (!isClicked) {
      dropdownMenu.classList.add("show");
      logo.classList.add("clicked");
    } else {
      dropdownMenu.classList.remove("show");
      logo.classList.remove("clicked");
    }

    isClicked = !isClicked;
  });

  document.body.addEventListener("click", function (event) {
    if (
      !logo.contains(event.target) &&
      !dropdownMenu.contains(event.target) &&
      !navbar.contains(event.target)
    ) {
      dropdownMenu.classList.remove("show");
      logo.classList.remove("clicked");
      isClicked = false;
    }
  });
});
</script>
